<div id="postCarousel" className="carousel border" data-ride="carousel" data-interval="false">
  <ol className="carousel-indicators">
    <li data-target="#postCarousel" data-slide-to="0" className="active"></li>
    <li data-target="#postCarousel" data-slide-to="1"></li>
  </ol>
  <div className="carousel-inner">
    <div className="carousel-item active">
      <img className="tales d-block rounded" src="https://auto.ndtvimg.com/bike-images/medium/revolt/rv400/revolt-rv400.jpg?v=9" alt="First slide" />
    </div>
    <div className="carousel-item">
      <img className="tales d-block rounded" src="https://imgd.aeplcdn.com/1280x720/n/bw/models/colors/ktm-rc200-black-1542809461395.jpg?20190103151915&q=80" alt="Second slide" />
    </div>
  </div>
  <a className="carousel-control-prev" href="#postCarousel" role="button" data-slide="prev">
    <span className="carousel-control-prev-icon" aria-hidden="true"></span>
    <span className="sr-only">Previous</span>
  </a>
  <a className="carousel-control-next" href="#postCarousel" role="button" data-slide="next">
    <span className="carousel-control-next-icon" aria-hidden="true"></span>
    <span className="sr-only">Next</span>
  </a>
</div>
